@{
    ViewData["Title"] = "SuccessPayment";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<div class="container">
    <div class="card text-center">

        <div class="card-body">
            <h1 class="card-title text-success"> <i class="fa fa-check-circle fa-1x" aria-hidden="true"></i> Siparişin Alındı!</h1>
            <p class="card-text">Siparişini en yakın zamanda kapına kadar ulaştıracağız teşekkür ederiz.</p>
            <a href="/Default/Index" class="btn btn-primary">Ana Sayfa</a>
        </div>

    </div>
</div>
