@inherits LayoutComponentBase

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>FastShop - Kayıt</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
		 <link rel="stylesheet" href="/adminui/html/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/FormUI/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="/FormUI/fonts/line-awesome/css/line-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="/FormUI/css/style.css" />
</head>
<body class="form-v4" style="height: contain; min-height: 0%;" >
	<div class="page-content" style="background: #3D464D;">
		@Body
	
	</div>

@* 	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> *@
</body>
</html>