@page "/Register"
@using Newtonsoft.Json
@layout FormLayout
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager NavigationManager
@inject IIdentityForManagerService identityService
@rendermode InteractiveServer


<div class="form-v4-content">
	<EditForm class="form-detail" Model="userRegisterDto" OnValidSubmit="CreateUser" style="background: #FFD22F;">
		<DataAnnotationsValidator></DataAnnotationsValidator>
		<h2>Kayıt Ol</h2>
		<p class="text-danger">* Zorunlu alanları belirtir.</p>
		<div class="form-group">
			<div class="form-row form-row-1">
				<label for="first_name">Adınız *</label>
				<InputText @bind-Value="userRegisterDto.Name" class="input-text" />
				<ValidationMessage class="text-danger" For="() => userRegisterDto.Name"></ValidationMessage>
			</div>
			<div class="form-row form-row-1">
				<label for="last_name">Soyadınız *</label>
				<InputText @bind-Value="userRegisterDto.Surname" class="input-text" />
				<ValidationMessage class="text-danger"  For="() => userRegisterDto.Surname"></ValidationMessage>
			</div>
		</div>
		<div class="form-row">
			<label for="your_email">Email Adresiniz *</label>
			<InputText @bind-Value="userRegisterDto.Email" class="input-text" />
			<ValidationMessage class="text-danger" For="() => userRegisterDto.Email"></ValidationMessage>
		</div>
		<div class="form-group">
			<div class="form-row form-row-1 ">
				<label for="password">Şifreniz *</label>
				<InputText @bind-Value="userRegisterDto.Password"  type="password" class="input-text" />
				<ValidationMessage class="text-danger" For="() => userRegisterDto.Password"></ValidationMessage>
			</div>
			<div class="form-row form-row-1">
				<label for="comfirm-password">Tekrar Şifreniz *</label>
				<InputText @bind-Value="userRegisterDto.ConfirmPassword"  type="password" class="input-text" />
				<ValidationMessage class="text-danger" For="() => userRegisterDto.ConfirmPassword"></ValidationMessage>
			</div>
	
			 
		</div>
	@* 	<div class="form-checkbox">
			<label class="row">
				<p>Kullanıcı <a href="#" class="text">Sözleşme</a>sini Okudum.</p>
				<input type="checkbox" name="checkbox">
				<span class="checkmark"></span>
			</label>
		</div> *@
		<div class="form-row-last">
			<button type="submit" class="register" >Kayıt Ol</button>
		</div>
	
	</EditForm>
</div>

@code {
	private UserRegisterDto userRegisterDto { get; set; } = new UserRegisterDto();

	public async Task CreateUser()
	{
		var result = await identityService.SignUp(userRegisterDto);
		if (result)
		{
			NavigationManager.NavigateTo("/Login");
		}
	}

}
