@page "/AddFeatureService"
@inject IFeautreServiceService featureServiceService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [Authorize]
<div class="col-md-12">
    <div class="chart-box">
        <h4>Hizmet Oluştur</h4>
        <EditForm Model="createFeatureServiceDto" FormName="AddFeatureService" OnValidSubmit="FeatureServiceAdd">

            <div class="form-group">
                <label for="FeatureServiceIcon">İkon</label>
                <InputText id="FeatureServiceIcon" @bind-Value="createFeatureServiceDto.FeatureServiceIcon" class="form-control" />
                <label for="FeatureServiceTitle">Başlık</label>
                <InputText id="FeatureServiceTitle" @bind-Value="createFeatureServiceDto.FeatureServiceTitle" class="form-control" />
            </div>
            <button class="btn btn-success" type="submit">Kaydet</button>
            <a class="btn btn-danger" href="FeatureServiceList">İptal</a>
        </EditForm>
    </div>
</div>
@code {
    private CreateFeatureServiceDto createFeatureServiceDto { get; set; } = new CreateFeatureServiceDto();

    public async Task FeatureServiceAdd()
    {
        await featureServiceService.CreateFeatureServiceAsync(createFeatureServiceDto);
        NavigationManager.NavigateTo("/FeatureServiceList");
   
    }

}
